<h5>Login</h5>

<div class="row">
  <div class="col-6">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuário</label>
      <input [(ngModel)]="usuario.nome"
      type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input [(ngModel)]="usuario.senha"
      type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Entrar</button>
  </div>
</div>