<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="mostrarMenu">
  <div class="container-fluid">
    <a routerLinkActive="active" routerLink="" class="navbar-brand">Rotas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a>
        <a routerLinkActive="active" routerLink="" class="nav-link">Home</a>
        <a routerLinkActive="active" routerLink="/cursos" [queryParams]="{pagina:1}" class="nav-link">Cursos</a>
        <!--a routerLinkActive="active" [routerLink]="['curso', idCurso.value]" class="nav-link">Curso com id</a-->
        <a routerLinkActive="active" routerLink="/alunos" class="nav-link">Alunos</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <!--p>Entre com o id do curso</p>
  <input #idCurso-->
  <router-outlet></router-outlet>
</div>